html, body, #root {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #000;
}

.app {
  min-height: 100vh;
  width: 100%;
  background: #000;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}